:root {
  --blue: rgba(0, 82, 204, 1);
  --orange: rgba(255, 102, 0, 1);
  --grey: rgba(241, 245, 249, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --main-font-family: "Inter", Helvetica;
  --main-font-weight: 800;
  --main-font-size: 42px;
  --main-letter-spacing: 0px;
  --main-line-height: normal;
  --main-font-style: normal;
  --body-font-family: "Inter", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-letter-spacing: 0px;
  --body-line-height: normal;
  --body-font-style: normal;
}
