.frame {
    background-image: url(/bg.png);
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    min-width: 1200px;
    min-height: 800px;
    position: relative;
}

.frame .automate-your {
    position: absolute;
    top: 568px;
    left: 38px;
    font-family: var(--font-plus-jakarta-sans), Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 80px;
    letter-spacing: -4.80px;
    line-height: normal;
}

.frame .text-wrapper {
    position: absolute;
    top: 486px;
    left: 38px;
    width: 419px;
    font-family: var(--font-poppins), Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: -1.20px;
    line-height: normal;
}

.frame .navbar {
    display: flex;
    width: 460px;
    height: 47px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 13px 17px;
    position: absolute;
    top: 30px;
    left: 38px;
    background-color: #ffffffb5;
    border-radius: 25px;
}

.frame .div {
    position: relative;
    width: fit-content;
    margin-top: -0.50px;
    font-family: var(--font-plus-jakarta-sans), Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.96px;
    line-height: normal;
}

.frame .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -0.50px;
    font-family: var(--font-plus-jakarta-sans), Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.96px;
    line-height: normal;
}

.frame .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 9px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -3.50px;
    margin-bottom: -3.50px;
    background-color: #5ab8b4;
    border-radius: 25px;
    overflow: hidden;
}

.frame .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--font-plus-jakarta-sans), Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.96px;
    line-height: normal;
}

.frame .logo-group {
    position: absolute;
    top: 30px;
    right: 38px;
    width: fit-content;
}

.frame .untitled {
    position: relative;
    width: 97px;
    height: 47px;
    aspect-ratio: 2.07;
    object-fit: cover;
}

.frame .text-wrapper-4 {
    position: absolute;
    top: 29px;
    left: 37px;
    font-family: var(--font-titillium-web), Helvetica;
    font-weight: 400;
    color: #76fff9;
    font-size: 16px;
    letter-spacing: -0.96px;
    line-height: normal;
}